/* Choose.css */

.why-choose-health-care {
  text-align: center;
  padding: 20px;
}

.hlo {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin: 10px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  background-color: #bab6b6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  margin: 0;
}
